<% if current_user %>

  <h3>Logged in with <%=current_user.email%></h3>
  <h4>Add a new link below:</h4>
  <form id="new-link">
    <label>URL:
      <input id="link-url">
    </label>
    <label>Title:
      <input id="link-title">
    </label>
    <input type="submit" value="Add Link">
  </form>

  <div>
    Filter by title:<input id="title-filter-input">
    Filter by url:<input id="url-filter-input">
  </div>

    <table id="link-table">
      <tr>
        <th>Title</th>
        <th>Link</th>
        <th>Read?</th>
        <th>Status</th>
        <th></th>
      </tr>
      <tbody id="link-table-body">
      </tbody>
    </table>



<% end %>
