<% if current_user %>

  <h3>Logged in with <%=current_user.email%></h3>

  <form id="new-link">
    <label>URL:
      <input id="link-url">
    </label>
    <label>Title:
      <input id="link-title">
    </label>
    <input type="submit" value="Add Link">
  </form>

    <table id="link-table">
      <tr>
        <th>Title</th>
        <th>Link</th>
        <th>Read?</th>
        <th>Status</th>
        <th></th>
      </tr>
      <tbody id="link-table-body">
      </tbody>
    </table>



<% end %>
